* {
    box-sizing: border-box;
}

#mainTitle {
    background-color: #cb6f34;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1rem;
    /* padding-bottom: 10px; */
}

#mainInst {
    padding-top: 20px;
    padding-bottom:80px;
    color: #47943c;
    background-color: #fce4ce;
    margin-bottom: 10px;
}

#randNum {
    background-color: #53c987;
    color: #582261;
    font-size: 30px;

}

#winBox {
    background-color: #3dfefe;
    color: #228f92;
}

#gem1 {
    /* background-color: lightblue; */
}

#totalText {
    background-color: #53c987;
}

#scoreText {
    background-color: lightblue;
}
/* img {
    width: 200px;
    height: 200px;
} */